.menu {
display: block;
color: #0077b6;
text-align: left;
font-weight: 500;
margin: 8px 0;
padding: 6px;
transition: background-color 0.2s ease;
border-radius: 4px;
}
.menu a:hover{
  bacground-color: #cde9ff;
}
.header{
  padding: 0px;
  font-size: 40px;
}
.container{
  font-size: 30px;
}
a { 
  color: rgb(239, 255, 247);
}
