body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(4, 36, 54);
}

a {
  color: rgb(239, 255, 247);
  text-decoration: underline;
}

/* Grid container */
.main-layout {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "content";
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

/* Header */
.header {
  grid-area: header;
  background-color: rgb(104, 188, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
}

/* Menu */
.menu {
  grid-area: menu;
  background-color: rgb(104, 188, 137);
  color: #000000;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}

/* Content */
.container {
  grid-area: content;
  background-color: rgb(17, 94, 74);
  font-size: 18px;
  padding: 10px;
  line-height: 1.6;
  border-radius: 4px;
}
/*HTML Table*/
table, th, td {
  border: 1px solid rgba(0, 0, 0, 0);
  border-collapse: collapse;
  padding: 10px;
  border-bottom: 1px solid #ffffff00;
  tr:nth-child(even) {background-color: #aae499e7;}
  tr:nth-child(odd) {background-color: #8ff0a99f;}
}

/* Responsive layouts */

/* Tablets and small desktops */
@media (min-width: 601px) {
  .main-layout {
    grid-template-areas:
      "header header"
      "menu content";
    grid-template-columns: 1fr 3fr;
  }
}

/* Larger desktops */
@media (min-width: 1025px) {
  .main-layout {
    grid-template-areas:
      "header header"
      "menu content";
    grid-template-columns: 1fr 4fr;
  }
}

/* Quiz */
.quiz-container {
  grid-area: y;
  background-color: rgb(78, 145, 172);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.question {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.answers {
  margin-bottom: 20px;
  padding-left: 15px;
}

.answers label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

input[type="text"] {
  margin-top: 8px;
  padding: 6px;
  width: 100%;
}

#quiz {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

#results {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
